# Streamlit for UI
streamlit

# LangChain core and community modules
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters

# Chroma vector store
chromadb

# PDF parsing (used by PyPDFLoader)
pypdf

# Protocol Buffers compatibility (required for some dependencies)
protobuf==3.20.*

setuptools

faiss-cpu

# (Optional) dotenv if you want to use .env files
# python-dotenv 